**/.idea/

**/build/
**/bin/
**/obj/
**/out/

**/*.o
**/*.obj
**/*.so
**/*.dll
**/*.dylib
**/*.lib
**/*.a
**/*.exe


**/*~
**/*.tmp
**/*.log

**/*.d

**/core
**/core.*

**/*.gcda
**/*.gcno
**/*.gcov

**/Makefile~
**/cmake_install.cmake
**/CMakeFiles/
**/CMakeCache.txt
**/install_manifest.txt
**/Testing/
